<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="DnD_OfferManager::section" title="DnD" sortOrder="0" >
                    <resource id="DnD_OfferManager::listing" title="List" sortOrder="50" />
                    <resource id="DnD_OfferManager::edit" title="Edit" sortOrder="50" />
                    <resource id="DnD_OfferManager::delete" title="Delete" sortOrder="100" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
